@use '~@angular/material' as mat;

@include mat.core();

$custom-primary: mat.define-palette(mat.$blue-palette, 900);
$custom-accent: mat.define-palette(mat.$orange-palette, 500);

$custom-warn: mat.define-palette(mat.$red-palette, 600);

$custom-theme: mat.define-light-theme($custom-primary, $custom-accent, $custom-warn);

// $custom-typography: mat-typography-config(
//   $font-family: 'san-francisco-regular, sans-serif;',
// );
// @include mat-core($custom-typography);

@include mat.all-component-themes($custom-theme);
