// @import '@angular/material/prebuilt-themes/indigo-pink.css';
@import './theme/custom-material.scss';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'san-francisco-regular';
  font-size: 17px;
}

.container {
  // Headers height in px minus the remaining space
  height: calc(100% - 64px);
}
