// @import '@angular/material/prebuilt-themes/indigo-pink.css';
@import './theme/custom-material.scss';

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'san-francisco-regular';
	font-size: 17px;
}
