<div class="container">
	<div fxLayout="column" fxLayoutAlign="center center">
		<form class="example-form">
			<mat-form-field class="example-full-width">
				<mat-label>User name</mat-label>
				<input matInput class="username" type="text" />
			</mat-form-field>
			<mat-form-field class="example-full-width">
				<mat-label>Password</mat-label>
				<input matInput class="password" type="password" />
			</mat-form-field>
			<button
				mat-raised-button
				color="warn"
				class="login-button"
				type="button"
				(click)="showLoginStatus = true"
			>
				Login
			</button>
		</form>
		<div class="login-status" *ngIf="showLoginStatus">Logged In</div>
	</div>
</div>
